*{
    border:1px solid black
}
header{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

}
.name{
    color:#1c740a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    padding: 0px;
    display:flex;
    list-style: none;
}
.navbar li{
    padding: 13px;
}

.heroimg{
    display:flex;
    justify-content: space-between;
}
.box{
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.profile{
    max-width: 500px;
}
.profile img{
    width: 100%; 
    height: 100%;
}
.content{
    padding: 50px;
}